#l1
{
   color:purple;
   font-size:20px;
   font-family:callibri;
}
#l2
{
   color:darkgoldenrod;
   font-size:19px;
   font-family:Gigi;
}
#l3
{
   color:blue;
   font-size:10px;
   font-family:Sahadeva;
}
#l4
{
   color:brown;
   font-size:21px;
   font-family:Purisa;
}
#l5
{
   color:red;
   font-size:42px;
   font-family:padmaa;
}
#l6
{
   color:green;
   font-size:34px;
   font-family:Nakula;
}
#l7
{
   color:chartreuse;
   font-size:16px;
   font-family:monospace;
}
#l8
{
   color:orange;
   font-size:22px;
   font-family:Arial;
}